FILTER
===============
```
DATA WOMEN;
   SET ALL;
   WHERE GENDER = 'F'; ** faster than IF;
   IF GENDER = 'F'; **WHERE GENDER IS F;
RUN;
```

MERGE
=============
```

   SS       NAME
-------------------
123-45-6789 CODY
987-65-4321 SMITH
111-22-3333 GREGORY         Master Data
222-33-4444 HAMER
777-66-5555 CHAMBLISS

    SS      SCORE
-------------------
123-45-6789 100
987-65-4321 67              Test Data
222-33-4444 92

ROC SORT DATA=MASTER;
   BY SS;
RUN;

PROC SORT DATA=TEST;
   BY SS;
RUN;
DATA BOTH;
   MERGE MASTER TEST;
      BY SS;
   FORMAT SS SSN11.;
RUN;
```

### LEFT JOIN
```
merge a(in=inA) B(in=inB)
by x;
if inA; //return 1 if x is in a set
RUN;

```

RESTUCTURE DATA WITH ARRAY
=============================

DATA NEW_DX;
   SET DIAGNOSE;
   ARRAY DXARRAY[3] DX1 - DX3;

   DO I = 1 TO 3;
      DX = DXARRAY[I];
      IF DX NE . THEN OUTPUT;
   END;

   KEEP ID DX;
RUN;

PROC FREQ DATA=NEW_DX;
   TABLES DX / NOCUM;
RUN;

Array List is omitted
===========================
the variable names default to the array name, followed by the numbers from the lower bound to the upper bound

DATA MANYPER;
   SET ONEPER;
   ARRAY S[3];  *** EQUIVALENT TO: ARRAY S[3] S1-S3;

   DO TIME = 1 TO 3;
      SCORE = S[TIME];
      OUTPUT;
   END;

   KEEP ID TIME SCORE;
RUN;

Multi-Dim Array WIDE TO LONG
====================

DATA MANYPER;
   SET ONEPER;
   ARRAY S[3];

   DO TIME = 1 TO 3;
      SCORE = S[TIME];
      OUTPUT;
   END;

   KEEP ID TIME SCORE;
RUN;

      Data Set WT_ONE

ID   WT1  WT2  WT3  WT4  WT5  WT6
---------------------------------
01   155  158  162  149  148  147
02   110  112  114  107  108  109

DATA WT_MANY;
   SET WT_ONE;

   ARRAY WTS [2,3] WT1-WT6;

   DO COND = 1 TO 2;
      DO TIME = 1 TO 3;
         WEIGHT = WTS[COND,TIME];
         OUTPUT;
      END;
   END;

   DROP WT1-WT6;

RUN;

LONG TO WIDE
=====================

PROC SORT DATA=MANYPER;
   BY ID TIME;
RUN;

DATA ONEPER;
   ARRAY S[3] S1-S3;
   RETAIN S1-S3;
   SET MANYPER;
   BY ID;
   S[TIME] = SCORE;
   IF LAST.ID THEN OUTPUT;
   KEEP ID S1-S3;
RUN;

PROC SORT DATA=WT_MANY;
   BY ID COND TIME;
RUN;

DATA WT_ONE;
   ARRAY WT[2,3] WT1-WT6;
   RETAIN WT1-WT6;
   SET WT_MANY;
   BY ID;
   IF FIRST.ID THEN
   DO I = 1 TO  2;
      DO J = 1 TO 3;
         WT[I,J] = .;
      END;
   END;
   WT[COND,TIME] = WEIGHT;
   IF LAST.ID THEN OUTPUT;
   KEEP ID WT1-WT6;
RUN;

PROC PRINT DATA=WT_ONE;
   TITLE 'WT_ONE Again';
RUN;